* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        Liberation Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

}

.btn33 {
    border: 1px solid #f85606 !important;
    background-color: #fff !important;
    color: #f85606 !important;
}

.btn33:hover {
    background-color: #f85606 !important;
    color: #fff !important;
}

.navBtn {
    border: none;
    font-size: large;
    font-weight: 500;
    background-color: #fff;
}

.navBtn:hover {
    color: #f85606;
}

.nav-icons {
    margin-left: 2rem;
    border: none;
}

.nav-icons:hover {
    color: #f85606;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.serch-container {
    width: 50%;
}

.inpsearch:focus {
    border: 1px solid #f85606 !important;
    box-shadow: none !important;
}

.saerchber {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 28px;
    padding: 12px;
    border: none;
}

.saerchber:focus {
    width: 100%;
    border-radius: 28px;
    border: 1px solid #f85606 !important;
    border-style: none;
    outline: none;
}

.css-i4bv87-MuiSvgIcon-root {
    margin-left: -2rem;
}

/* //////create-product-page///// */


.formMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;

}

#productPicture {
    width: 100%;
    margin: 20px;
    border: none;

}

#title,
#price,
#condition,
#description {
    border: none;
    margin: 20px;
    border-bottom: 2px solid #f85606;
    text-align: center;
    font-size: larger;
    padding: 5px;
    outline: none;
}

.addProduct {
    color: #f85606;
    border-color: #f85606;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.addProduct:hover {
    background-color: #f85606;
    color: #fff;

}

.productForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid lightgray;

}

.productForm:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image_container234>img {
    width: 100%;
    height: 96.8vh;
}





/* /////////code//////// */


.card_container {
    width: 100%;
    display: flex;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
    background-color: #f7f7f7;
}



.card-produdct23 {
    width: 12%;
    min-width: 300px;
    padding: 0px 10px 10px 10px;
    margin: 5px 10px 10px 10px;
    border: none !important;
    background-color: #fff;

}

.card-produdct23:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow: hidden;
}

.card_child-main {
    display: flex;
    justify-content: space-between;
}

.card_child {
    display: flex;
}

.decDiv {
    display: flex;
    justify-content: space-between;
}

.cardMain {
    display: flex;
}

.cardDiv {
    margin: 5px;
}

.condition {
    margin-left: 5px;
    color: green;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.description {
    height: 36px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 5px;
}

.price {
    color: #f85606;
    margin-top: 5px;
    margin-left: 5px;
}


.productDelete,
.productEdit {
    margin: 5px;
    padding: 5px;
    font-size: medium;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.productDelete {
    background-color: lightgray;
    color: #f85606;
}

.productDelete:hover {

    background-color: red;
    color: #fff;
}

.productEdit {
    background-color: lightgray;
    color: #f85606;
}

.productEdit:hover {

    background-color: #f85606;
    color: #fff;
}



.productHeading {
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
    font-weight: bolder;
    letter-spacing: 5px;
    background-color: #f7f7f7;
    font-style: italic;
}

.product-img {
    height: 300px;
    object-fit: contain;
}

/* ////////////updated-form////// */


.update-fild>input {
    width: 70%;
    border: none;
    border-bottom: 1px solid #f85606;
}

.haed-update {
    text-align: center !important;

}

.update-fild {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #f85606 !important;
    margin: auto !important;
}

.css-tlc64q-MuiPaper-root-MuiDialog-paper {
    background-color: #f7f7f7 !important;
}

.gander_inp {
    margin-left: 10px;
}

.css-1999axt-MuiAvatar-root {
    background-color: #f85606 !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
    background-color: #f7f7f7 !important;
    border: 1px solid #f85606 !important;
    color: #f85606 !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #f85606 !important;
    color: #fff !important;
}

.img_logo {
    max-height: 65px;
}

@media only screen and (max-width: 786px) {
    /* .userName {
        width: 15%;
        font-size: 16px;
    }

    .navBtn {
        font-size: 16px !important;
    } */

}

/* ///////////addtocart////////////////// */

.main-cart {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    background-color: #f7f7f7;
}

.addcard_main {
    padding: 2rem;
    border: 1px solid lightgray;
}

.main-two {
    width: 65%;
    display: flex;
}

.img_cart {
    width: 150px;
}

.title-price {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 1rem;

}

.price-btn-containor {

    display: flex;
    flex-direction: column;
    margin-top: 2rem;

}

.price-cart {
    margin-left: 3rem;
    color: #f85606;
}

.condition-item {
    color: green;
}

.des-item {
    max-width: 400px;

}

.cart-btn {
    border: 1px solid #f85606;
    outline: none;
    padding: 5px 20px 5px 20px;
    border-radius: 28px;
    background-color: #fff;
    color: #f85606;
    margin-left: 2rem;

}

.cart-btn:hover {
    background-color: #f85606;
    color: #fff;
}

.checkout_btn {
    margin-left: 2rem;
    padding: 10px;
}

#btn_check {
    border: 1px solid #f85606;
    background-color: #fff;
    color: #f85606;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}

#btn_check:hover {
    background-color: #f85606;
    color: #fff;
}

/* checkout/////////////// */

.main-checkout {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    background-color: #f7f7f7;

}

.main9 {
    display: flex;
}

.checkcard_main {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.left-container {
    display: flex;
    flex-wrap: wrap;
}

.checkout-price {
    color: #f85606;
}

.title-price-checkout {
    margin-top: 20px;
}

.countDiv {
    margin-left: 1rem;
}

.increment {
    padding: 5px 20px 5px 20px;
    border: 1px solid #f85606;
    background-color: #fff;
    color: #f85606;
    border-radius: 8px;
}

.increment:hover {
    background-color: #f85606;
    color: #fff;
}

.decrement {
    padding: 5px 20px 5px 20px;
    border: 1px solid #f85606;
    margin-left: 1rem;
    border-radius: 8px;
    background-color: #fff;
    color: #f85606;
}

.decrement:hover {
    background-color: #f85606;
    color: #fff;
}

.counter {
    border: 1px solid #f85606;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}

.secDiv {
    width: 50vw;
    padding: 25px;
    display: flex;
    justify-content: center;

}

.sideCard {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 30vw;

}

.inerDiv {
    max-height: 350px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
}

.line {
    padding: 10px;
}

.summryBtn {
    text-align: center;
    padding: 10px;
}

.next {
    padding: 5px 2rem 5px 2rem;
    background-color: #fff;
    color: #f85606;
    border-radius: 20px;
    border: 1px solid #f85606;

}

.next:hover {
    background-color: #f85606;
    color: #fff;
}

.Back {
    padding: 5px 2rem 5px 2rem;
    background-color: #fff;
    color: #f85606;
    border-radius: 20px;
    border: 1px solid #f85606;
    margin-left: 20px;

}

.Back:hover {
    background-color: #f85606;
    color: #fff;
}

.pricess {
    color: #f85606;
}

/* /////////payment////////// */

.payment-containor {
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: #fff;
    padding: 2rem;
}

.payment-icon {
    font-size: 30px !important;
    color: #f85606;
}

.payment-child {
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
}

.payment-child-pay {
    margin-top: 2rem;
}

.credit {
    padding: 2px;
    padding-left: 10px;
}

.inp-fild {
    width: 100%;
    padding: 2rem;
    font-size: large;
    border: 1px solid lightgray;
    margin-top: 1rem;
}

.purchese-containor {
    text-align: center;
    margin-top: 2rem;
}

.purchese-btn {
    border: 1px solid #f85606;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    background-color: #fff;
    color: #f85606;
}

.purchese-btn:hover {
    background-color: #f85606;
    color: #fff;
}

.imgsuceess {
    width: 100vw;
    height: 92.2vh;
    object-fit: cover;
}